
:root {
    --primary-color: #F5E866;
    --secondary-color: #A08FD5;
    --gray-color: #D6D6D6;
    --white-color: #FFFFFF;
    --black-color: #000000;
  }

.festival-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls{
    top: 15% !important;
}
/* arrive section */

.arrive-content{
    background-color: var(--primary-color);
    padding: 50px 0;
}
.arrive-section{
    
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}
.arrive-section p{
    font-size: 18px;
    line-height: 2;
}
/* map */
.map-img{
    width:700px;
    z-index: 10;
}
.location-icon{
position: absolute;
top: 34%;
left: 45%;
z-index: 30;
width: 70px;
}

@media screen and (max-width:999px) {
    .map-img{
        width:500px;
    }
    .arrive-content p{
        font-size: 14px;
    }
}
@media screen and (max-width:768px) {
    .map-img{
        width:400px;
    }
}
@media screen and (max-width:560px) {
    .arrive-section{
       flex-direction:  column;
       justify-content: center;
    } 
    .map-img{
        width:330px;
    }
}