:root {
    --primary-color: #F5E866;
    --secondary-color: #A08FD5;
    --gray-color: #D6D6D6;
    --white-color: #FFFFFF;
    --black-color: #000000;
  }

/* banner section */
.banner-content{
    background-color: var(--secondary-color);
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
}
.wheel-icon {
    width: 40px;     
    height: 40px;
    border-radius: 50%;  
    overflow: hidden;   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #fff; 
    
}
.banner-wheel-icon,.up-arrow{
    position: absolute;  
    top: 10%;
    right: 2%;
}

.wheel-icon img {
    width: 30px;
    height: 30px;
    object-fit: cover; 
}
.up-arrow-for-mobile{
    display: none;
}
.banner-content h3{
    font-size: 22px;
}
.banner-content h1{
    font-size: 56px;
    padding: 30px 0;
}
.banner-content p{
    font-size: 22px;
}
.banner-btn-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}
.banner-btn{
    background: var(--primary-color);
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    width: 200px;
    transition: all 0.3s ease-in;
}
.banner-btn:hover{
    background-color: var(--white-color);
    cursor: pointer;
    scale: 0.95;
}

/* day-by-day-content */
.day-by-day-content{
    background-color: var(--primary-color);
    padding: 30px 0;
}
.date-content{
    background: var(--black-color);
    width: 70px;
    height: 70px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
.date{
    font-weight: 700;
    padding: 2px;
    font-size: 18px;
    line-height: 1;
}
.card-btn{
    background: var(--black-color);
    padding: 8px 12px;
    color: var(--white-color);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    border:0;
    position: absolute;
    bottom: 20px;
}
.edition-content{
        background-color:var(--secondary-color);
        padding: 50px 0;
        color: var(--white-color);
        position: relative;
  
}
/* media */
@media screen and (max-width: 999px) {
    
}
@media screen and (max-width: 768px) {
    /* banner section */
    .banner-content{
     height: 100%;
     padding: 50px;
    }
    .banner-wheel-icon {
        top: 20%;
        right: 4%;
    }
    .wheel-icon {
        width: 40px;     
        height: 40px;
    }
    .wheel-icon img {
        width: 20px;
        height: 20px;
    }
    .banner-content h3{
        font-size: 14px;
    }
    .banner-content h1{
        font-size: 36px;
        padding: 20px 0;
    }
    .banner-content p{
        font-size: 16px;
    }
    .banner-btn-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        gap: 10px;
    }
    .banner-btn {
        height: 50px;
        width: 200px;
        border-radius: 990px;
    }
    /* day-by-day */
    .card-btn{
       border-radius: 999px;
    }
    .date{
        line-height: 1.9;
    }
   
    .up-arrow{
        display: none;
        
    }
    .up-arrow-for-mobile{
        display: block;
        position: absolute;
        bottom: 5%;
        right: 2% !important;
        background: var(--secondary-color) !important;
        border:2px solid var(--secondary-color);
    }
    .up-arrow-for-mobile img{
        padding-top: 10px;
    }
}