:root {
  --primary-color: #F5E866;
  --secondary-color: #A08FD5;
  --gray-color: #D6D6D6;
  --white-color: #FFFFFF;
  --black-color: #000000;
}
* {
    box-sizing: border-box;
  }
  *
  .img-slider,.card-slider{
    display: none;
    position: relative;
  }
  .wrapper {
    word-wrap: break-word;
    width: 100%;
    padding: 30px 10px;
  }
  
  .wrapper,
  .img-slide-container,.card-slide-container {
    margin: 0 auto;
    display: none;
  }
  /* .card-slide-contaniner{
    height: 600px !important;
  } */
  .img-slide-container,.card-slide-container {
    overflow: hidden;
    position: relative !important;
    border-radius: 4px;
    max-width: 600px;
    height: 400px;
    max-height: 600px;
    line-height: 0;
  }
  
  .slideDiv,
  .controls {
    position: absolute;
    
  }
  
  .slideDiv,
  .slide,.card-slide {
    width: 100%;
    height: 100%;
  }
  
  .slide {
    background-size: cover;
  }
  
 
  .slide:first-child {
    background: url(../images/Home/img1.png) no-repeat center;
  }
 
  .slide:nth-of-type(2) {
    background: url(../images/Home/img2.png) no-repeat center;
  }
  
  
  
  .slide:nth-of-type(3) {
    background: url(../images/Home/img3.png) no-repeat center;
  }
  
  .controls {
    padding:  0;
    text-align: center;
    position: absolute;
    top: 50%;
    right:5px ;
    z-index: 100;
  }
  
  /* .card-controls{
    top: 10% !important;
  } */
  .button { 
    width: 0.9375rem;
    height: 0.9375rem;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    transition: all ease .2s;
  }
  
  .button:not(:last-child) {
    margin-bottom: 0.63rem;
  }
  
  
 
  
  .button {
    border: 1px solid #fff;
    opacity: .6;
    outline: none;
    background-color: var(--black-color);
  }
  
  .button:hover,
  .button:focus {
    opacity: 1;
  }
  
  .selected {
    background-color: var(--primary-color);
  }

  @media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
    .slide{
        width: 300px;
        margin: 0 auto;
 }
}

  @media screen and (max-width: 768px) {
    .wrapper,
    .img-slide-container ,.card-slide-container{
      margin: 0 auto;
      display: block;
      height: 500px;
    }
    .img-slider,.card-slider{
      display: block;
    }
    .slide{
      width: 550px !important;
      margin: 0 auto;
    }
    
  }
  @media screen and (max-width: 560px) {
    .slide{
      width: 320px !important;
      margin: 0 auto;
    }
  }